/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

body {
    color: white;
    background-color: white;
}

/* ENCABEZADO */
header {
    display: flex;
    height: 70px;
    
    position: sticky;
    top: 0;

    border-bottom: solid 2px white;
    background: linear-gradient(.51turn, #8100eb, #5d00aa);
}

#header__container {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#header__links__list {
    display: flex;

    list-style-type: none; 
}

.header__link {
    margin: 0 14px;
    font-weight: 500;
}

.header__link:first-child {
    margin: 0 14px 0 36px;
}

.header__link__item {
    text-decoration: none;
    color: white;
    transition: all .2s;
}

.header__link__item:hover {
    color: #b6b6b6;
}

#cart__image__container {
    display: flex;
    justify-content: end;
    align-items: center;

    margin-right: 26px;
}

#cart__quantity__text {
    position: absolute;
    right: 70px;
}

#cart__image {
    width: 46px;
}

/* PANTALLA DE BIENVENIDA */
#first__view__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 633px;
    padding: 10px 30px;

    user-select: none;
    background-color: #090909;
}

#welcome__container {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.welcome__texts {
    color: white;
    line-height: 115%;
}

#welcome__title {
    font-size: 82px;
}

#games__indicator__container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

#games__indicator__text {
    margin: 4px;
}

#games__indicator__container img {
    width: 20px;
}

#header__games__location {
    margin-bottom: 8px;
}

/* CONTENIDO PRINCIPAL */
#main__content__container {
    display: grid;
    grid-template-columns: 22.5% 77.25%;
    min-height: 700px;

    background-color: #090909;
    border-top: solid 3px white;
}

/* SIDEBAR DE FILTROS Y BUSQUEDA */
#search__bar__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search__bar {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;
    padding: 10px;

    background-color: transparent;
    color: white;
    border: none;
    outline: solid 2px #EEEEEE;
    border-radius: 0px;
    user-select: none;
    transition: all .2s;
}

#search__bar:hover,
#search__bar:focus {
    background-color: #31363fcb;
}

#search__bar::placeholder {
    color: #d4d4d4;
}

#games__filter__sidebar__container {
    height: 100%;
    padding: 20px;
    background-color: #161616;
    border-right: solid 2px white;
}

#games__filter__sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px repeat(3, 140px) 40px;
    justify-content: center;
    height: min-content;

    position: sticky;
    top: 90px;
}

.games__filter__sidebar__items {
    width: 100%;
    padding: 8px 4px;
    border-bottom: solid 1px white;
}

.games__filter__sidebar__items:last-child {
    display: flex;
    align-items: center;
    padding: 22.5px 10px;
    border: none;
}

#price__range__text {
    padding-top: 10px;
}

#ignore__filters {
    position: relative;
    top: 2px;
}

#games__container {
    display: grid;
    grid-template-rows: 25px 95%;
}


#search__indicator__container {
    padding: 15px 38px;
}

#search__indicator {
    color: white;
}

/* CARTAS */
#cards__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    padding: 16px 0;
}

.card {
    width: 230px;
    height: 280px;
    margin: 20px 20px;
    padding: 15px;

    outline: solid 2px white;
    border-radius: 10px;
    background: linear-gradient(.3turn, #8100eb, #5d00aa);
    color: white;
    line-height: 175%;
    text-decoration: none;
}

.card__button {
    margin: 4px 0;
    padding: 5px 6px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: .2s;
}

.card__button:hover {
    padding: 6.5px 7.5px;
}

.card__button img {
    width: 30px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    border-top: solid 2px  white;
    background: linear-gradient(.51turn, #8100eb, #5d00aa);
}
